*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

nav{
    width: 100%;
    height: 80px;
    background: white;
    padding: 0px 100px;
    color: #19A7CE;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo img{
    height: 70px;
    align-items: center;
    display: flex;
    font-weight: 600;
}

.wrap-menu{
    display: flex;
    align-items: center;
}

.wrap-menu a{
    text-decoration: none;
}

.wrap-menu a:hover:not(.active) {
    background-color: #AED2FF;
    padding: 8px 25px;
  }

.wrap-menu a.active{
    background-color: #AED2FF;
    padding: 8px 25px;
}  

.menu{
    margin: 0px 16px;
    font-size: 16px;
    font-weight: 500;
}

.appointment-btn {
    margin-left: 25px;
    background: #19A7CE;
    color: white;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 16px;
    text-decoration: none;
  }

  .hero-section{
    width: 100%;
    height: 670px;
    padding: 0px 120px;
    align-items: center;
    background-image: url('about.jpg');
    background-size: cover;
    display: flex;
}

.hero-information h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    color: white;
}

.hero-information p{
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
    color: white;
}

.data{
    width: 100%;
    height: 1050px;
    background: linear-gradient(180deg, white, #AED2FF);
    text-align: center;
}

.data-kami h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-top: 20px;
    color: #146C94;
}

.data-kami p{
    font-size: 20px;
    font-weight: 400;
    margin: 40px 60px;
}

.footer{
    width: 100%;
    height: 25px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
}