*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

nav{
    width: 100%;
    height: 80px;
    background: white;
    padding: 0px 100px;
    color: #19A7CE;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo img{
    height: 70px;
    align-items: center;
    display: flex;
    font-weight: 600; 
}

.wrap-menu{
    display: flex;
    align-items: center;
}

.wrap-menu a{
    text-decoration: none;
}

.wrap-menu a:hover:not(.active) {
    background-color: #AED2FF;
    padding: 8px 25px;
  }

.wrap-menu a.active{
    background-color: #AED2FF;
    padding: 8px 25px;
}  

.menu{
    margin: 0px 16px;
    font-size: 16px;
    font-weight: 500;
}

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  button {
    border-radius: 12px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 25px;
    background: #19A7CE;
    color: white;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 16px;
    text-decoration: none;
  }

  button:hover {
    opacity: 0.8;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;

  }
  
  .modal-content {
    background: white;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 70%; 

  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 30%;
  }
  
  .container {
    padding: 16px;
    text-align: center;
    justify-content: center;
  }

  input[type=text]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 260px;
    display: flex;
    text-align: center;
    background-color: #BAD7E9;
  }

  .specialist{
    width: 40%;
    padding: 12px 20px;
    margin: 0px 262px;
    display: flex;
    justify-content: center;
  }

.submit a{
    background-color: #19A7CE;
    color: white;
    padding: 8px 25px;
    margin: 0px 220px;
}

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  .hero-section1{
    width: 100%;
    height: 670px;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('home1.jpg');
    background-size: cover;
}

.hero-information1 h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #146C94;
}

.hero-information1 p{
    font-size: 20px;
    margin-bottom: 28px;
    text-align: left;
    color: #146C94;
}

.hero-section1 a{
    padding: 4px 32px;
    background-color: #19A7CE;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 0px;
}

.section1{
  width: 100%;
  height: 400px;
  background-color: #BAD7E9;   
}

.section-title1 h2{
  font-size: 40px;
  font-weight: 700;
  color: #146C94;
  padding-top: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.separator {
  width: 4px;
  height: 400px;
  margin-top: 0px;
  background-color: #8CABFF;
}

.text1{
  text-align: center;
  padding: 0px 60px;
  color: #146C94;
  width: 30%;
  font-size: 20px;
}

.text2{
  text-align: center;
  padding: 0px 60px;
  color: #146C94;
  width: 40%;
  font-size: 20px;
}

.text3{
  text-align: center;
  padding: 0px 60px;
  color: #146C94;
  width: 30%;
  font-size: 20px;
}

.hero-section{
    width: 100%;
    height: 670px;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.hero-information h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #146C94;
}

.hero-information p{
    font-size: 20px;
    margin-bottom: 28px;
    text-align: left;
    color: #146C94;
}

.hero-section a{
    padding: 4px 32px;
    background-color: #19A7CE;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 12px;
}

.hero-image img{
    width: 80%;
    height: 100%;
}

.section{
    width: 100%;
    height: 800px;
    background-color: #BAD7E9;   
}

.section-title h1{
    font-size: 40px;
    font-weight: 700;
    color: #146C94;
    padding-top: 35px;
    text-align: center;
    margin-bottom: 60px;
}

.section .bulletpin{
display: flex;
justify-content: space-between;
margin: 0px 150px;
margin-bottom: -30px;
}

.section .lingkaran1{
	width: 80px;
	height: 80px;
	background: #146C94;
	border-radius: 100%;
    outline-color: white;
    outline-style: double;
}

.section .row{
display: flex;
justify-content: space-between;
margin-bottom: 100px;
}

.section .icon-box {
    text-align: center;
    border: 1px solid white;
    padding: 80px 20px;
    border-radius: 12px;
    width: 25%;
    margin: 0px 30px;
    background: white;
  }

  .specialized{
    color: #146C94;
    padding: 8px 25px;
    font-size: 20px;
    text-decoration: none;
  }

  .readmore{
    padding: 4px 32px;
    background-color: #19A7CE;
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    border-radius: 12px;
  }

.info {
    text-align: center;
}

.info a{
    text-decoration: underline;
    color: #146C94;
    font-weight: 600;
    font-size: 25px;
}

.footer{
    width: 100%;
    height: 25px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
}