*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

nav{
    width: 100%;
    height: 80px;
    background: white;
    padding: 0px 100px;
    color: #19A7CE;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.logo img{
    height: 70px;
    align-items: center;
    display: flex;
    font-weight: 600;
}

.wrap-menu{
    display: flex;
    align-items: center;
}

.wrap-menu a{
    text-decoration: none;
}

.wrap-menu a:hover:not(.active) {
    background-color: #AED2FF;
    padding: 8px 25px;
  }

.wrap-menu a.active{
    background-color: #AED2FF;
    padding: 8px 25px;
}  

.menu{
    margin: 0px 16px;
    font-size: 16px;
    font-weight: 500;
}

.appointment-btn {
    margin-left: 25px;
    background: #19A7CE;
    color: white;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 16px;
    text-decoration: none;
  }

  .hero-section{
    width: 100%;
    height: 670px;
    padding: 0px 120px;
    display: inline-flex;
    align-items: flex-end;
    background-image: url('service.jpg');
    background-size: cover;
}

.hero-information{
    background-color: white;
    padding: 4px 32px;
    border-radius: 12px;
    width: 1000px;
    margin: 0 20px;
    text-align: center;
    margin-bottom: 20px;
}

.hero-information h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #146C94;
}

.section{
    width: 100%;
    height: 1600px;
    background-image: linear-gradient(180deg, white, #BAD7E9); 
}

.section-title h1{
    font-size: 40px;
    font-weight: 700;
    color: #146C94;
    padding-top: 35px;
    text-align: center;
    margin-bottom: 60px;
}

.section .bulletpin{
display: flex;
justify-content: space-between;
margin: 0px 150px;
margin-bottom: -30px;
}

.section .lingkaran1{
	width: 80px;
	height: 80px;
	background: #146C94;
	border-radius: 100%;
    outline-color: white;
    outline-style: double;
}

.section .row{
display: flex;
justify-content: space-between;
margin-bottom: 100px;
}

.section .icon-box {
    text-align: center;
    border: 1px solid white;
    padding: 80px 20px;
    border-radius: 12px;
    width: 25%;
    margin: 0px 30px;
    background: white;
  }

  .specialized{
    color: #146C94;
    padding: 8px 25px;
    font-size: 20px;
    text-decoration: none;
  }

  button {
    background-color: #19A7CE;
    color: white;
    padding: 16px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 250px;
    margin-bottom: 20px;
  }

  button:hover {
    opacity: 0.8;
  }

.doctors{
background-color: #19A7CE;
  }

  .cancelbtn{
    background-color: red;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  .modal-content {
    background: linear-gradient(270deg, white, #BAD7E9);
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 40%; 
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  .footer{
    width: 100%;
    height: 25px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
}